* {
  padding: 0px;
  margin: 0px;
  box-sizing: content-box;
}
body {
  font-family: "pt sans";
}
.wrapper {
  position: relative;
  margin: 0 auto;
  width: 85%;
}

.container {
  margin: 40px auto;
  width: 100%;
}
header img {
  margin: 0px 20px;
}

header li {
  list-style-type: none;
  display: inline;
  color: #692701;
  font-size: 14px;
  font-weight: bold;
  margin-right: 25px;
}
header ul {
  display: inline;
}
header .icons {
  display: inline;
  margin-right: 0px;
  position: relative;
}
header .icons span {
  color: #692701;
}
header .icons .f {
  margin-right: 25px;
  font-size: 28px;
}
header .icons .cart {
  margin-right: 0px;
  font-size: 28px;
}

header .icons .counter {
  background-color: #692701;
  border-radius: 70%;
  padding: 4px;
  position: absolute;
  bottom: -5px;
  right: 1px;
  color: white;
  font-size: 11px;
}
header .container .category-list li {
  padding: 8px;
  position: relative;
}

header .container .category-list li::before {
  content: "";
  position: absolute;
  border-style: solid;
  left: 0;
  top: 0;
  transition: transform 0.2s;
}

header .container .category-list li::after {
  content: "";
  position: absolute;
  border-style: solid;
  left: 0;
  top: 0;
  border-width: 2px 0;
  height: 100%;
  width: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
  transition: transform 0.2s ease-in;
  transition-delay: 0.6s;
}
header .container .category-list li::before {
  content: "";
  position: absolute;
  border-style: solid;
  left: 0;
  top: 0;
  border-width: 0 2px;
  height: 100%;
  width: 100%;
  transform: scale3d(0, 1, 1);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}

header .container .category-list li:hover::after {
  transform: scale3d(1, 1, 1);
}
header .container .category-list li:hover::before {
  transform: scale3d(1, 1, 1);
}
.slider {
  width: 100%;
  margin-top: 75px;
  text-align: center;
}
.slider img {
  width: 100%;
  background-size: cover;
}

.special-category {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.special-category h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.special-category-list {
  flex-shrink: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
}
.special-category-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 5px;
  flex-grow: 1;
}
.most-popular {
  margin-top: 20px;
  color: rgb(223, 217, 217);
}
.collection {
  font-size: 20px;
  position: relative;
  width: 100%;
  text-align: start;
}
.special-category-item .f {
  background-color: rgba(255, 0, 0, 0.281);
  font-size: 30px;
  line-height: 30px;
  padding: 4px 8px;
  display: none;
  bottom: -7px;
  right: 10px;
  position: absolute;
}
.special-category-item:hover .f {
  display: inline;
}
.offers {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: start;
  height: 300px;
  margin-bottom: 50px;
}
.marketing {
  flex-grow: 2;
  flex-basis: 0%;
  flex-shrink: 1;
  background-color: #f7f3ef;
  padding: 20px;
  position: relative;
}

.marketing .title {
  display: flex;
  flex-direction: row;
}
.offers .marketing .title h1 {
  font-size: 1.5em;
}
.offers .marketing .f {
  font-size: 50px;
}
.offers .marketing .title .label {
  margin-left: 8px;
}
.offers .description {
  margin-top: 16px;
  line-height: 1.7;
}
.offers .discount-item1 {
  margin-left: 20px;
  flex-grow: 1;
  background-image: url("../images/chair3.jpg");
  background-position: center;
}
.offers .discount-item2 {
  margin-left: 20px;
  flex-grow: 1;
  background-image: url("../images/chair3.jpg");
  background-position: center;
}
.marketing .lines {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.marketing .lines span {
  margin-right: 10px;
  width: 50px;
  height: 2px;
  background-color: #692701;
  display: inline-block;
}
.offers .discount-item2:hover,
.offers .discount-item1:hover {
  transform: scale(1.1, 1.1);
  transition: transform 0.2s ease-in;
}
.pros {
  margin-bottom: 100px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.pros-item {
  text-align: center;
  border-right: 1px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  padding: 0px 12px;
  border-color: #692701;
  border-style: solid;
}
.pros p {
  color: #808080;
}
.pros-item-icon-1 {
  background-image: url("../images/service-icon.png");
  background-position: center 5px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease-in;
}

.pros-item-icon-2 {
  background-image: url("../images/service-icon.png");
  background-position: center -180px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease-in;
}
.pros-item-icon-3 {
  background-image: url("../images/service-icon.png");
  background-position: center -365px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease-in;
}
.pros-item-icon-4 {
  background-image: url("../images/service-icon.png");
  background-position: center -549px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease-in;
}
.pros-item-icon-5 {
  background-image: url("../images/service-icon.png");
  background-position: center -734px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
  transition: all 0.2s ease-in;
}
.pros-item-1:hover .pros-item-icon-1 {
  background-image: url("../images/service-icon.png");
  background-position: center -85px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
}
.pros-item-2:hover .pros-item-icon-2 {
  background-image: url("../images/service-icon.png");
  background-position: center -273px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
}
.pros-item-3:hover .pros-item-icon-3 {
  background-image: url("../images/service-icon.png");
  background-position: center -455px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
}
.pros-item-4:hover .pros-item-icon-4 {
  background-image: url("../images/service-icon.png");
  background-position: center -639px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
}
.pros-item-5:hover .pros-item-icon-5 {
  background-image: url("../images/service-icon.png");
  background-position: center -826px;
  background-repeat: no-repeat;
  width: 100%;
  height: 55px;
}
.sperator-line {
  height: 2px;
  width: 100%;
  background-color: #808080;
}

.featured-products {
  margin-top: 10px;
}
.featured-products h2 {
  text-align: center;
  font-family: 30px;
  margin-top: 5px;
}

.featured-products .line {
  width: 75px;
  height: 2px;
  margin: 5px auto;
  background-color: #692701;
  transition: all 0.2s;
}

.featured-products .line:hover {
  width: 100px;
}
.row1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-item {
  flex-grow: 1;
  margin-right: 20px;
  margin-top: 10px;
  flex-basis: 0;
  position: relative;
}
.product-image {
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
}
.product-item-1 {
  background-image: url("../images/pchair1.jpg");
}
.product-item-2 {
  background-image: url("../images/pchair2.jpg");
}
.product-item-3 {
  background-image: url("../images/pchair3.jpg");
}
.product-item-4 {
  background-image: url("../images/pchair1.jpg");
}
.product-item-5 {
  background-image: url("../images/pchair2.jpg");
}
.product-item-6 {
  background-image: url("../images/pchair3.jpg");
}
.product-item-info {
  margin-top: 5px;
}
.product-item-info .price {
  font-size: 18px;
  margin-top: 5px;
}

.product-hidden {
  background-image: url("../images/pchair2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  transform: scale(0, 1);
  opacity: 1;
}
.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.social .f {
  flex-grow: 1;
  background-color: #692701;
  color: white;
  line-height: 40px;
  margin-left: 10px;
  font-size: 1.7em;
  padding: 8px;
}

.product-item:hover .product-hidden {
  transform: scale(1, 1);
  opacity: 0.4;
}
